<div class="pure-g page-content">
  <section class="pure-u-1 brand-{{ ::vm.client }}">
    <div class="brand-logo"></div>
  </section>
  <section class="project-list">
    <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-3 project-item" ng-repeat="project in vm.projects">
      <a ui-sref="project({ id: project.id, title: project.slug })" ng-class="project.tags" class="project-link">
        <h3>{{ project.title.rendered }}</h3>
        <ul class="tags">
          <li ng-repeat="tag in project.tags"><div class="pill {{ ::tag }}"></div></li>
        </ul>
      </a>
    </div>
  </section>
</div>
