.filter-list {
  margin: 0 auto 2em;
  max-width: 600px;
  text-align: center;
}

.filter-list > label {
  display: inline-block;
  margin: 0 0.25em 0.5em 0;
}

.filter-list .pure-button:not(:hover) {
  border-color: transparent;
}

.video-list,
.video-list > .video-item {
  margin: 0;
}

.video-list {
  padding: 0;
}

.video-list > .video-item {
  margin: 0.5em 0 1em;
  color: transparent;
  .transition(~'all 0.5s cubic-bezier(.36,-0.64,.34,1.76)');
}

.video-list >.video-item img {
  margin: auto;
  width: 220px;
  color: #fff;
  .border-radius(0.188em);
  .transition(~'all 0.3s');
}

.video-list >.video-item img:hover {
  opacity: 0.75;
}

.video-list >.video-item:nth-child(5n+1) img {
  @media (min-width: 80em) {
    margin: auto auto auto 0;
  }
}

.video-list >.video-item:nth-child(5n+2) img {
  @media (min-width: 80em) {
    margin: auto auto auto  ~'calc((100% - 220px) / 4)';
  }
}

.video-list >.video-item:nth-child(5n+4) img {
  @media (min-width: 80em) {
    margin: auto ~'calc((100% - 220px) / 4)' auto auto;
  }
}

.video-list >.video-item:nth-child(5n+5) img {
  @media (min-width: 80em) {
    margin: auto 0 auto auto;
  }
}

.button-section {
  position: relative;
  text-align: center;
}

.button-section > .loading-icon {
  position: absolute;
  bottom: 200%;
  left: 50%;
  .transform(~'translateX(-50%)');
  height: 80px;
  .border-radius(0.313em);
}

.button-section .pure-button {
  padding-right: 0.6em;
}

.button-section .icon-plus {
  line-height: 0.9em;
  vertical-align: middle;
}

/*! Lity - v2.0.0 - 2016-09-09
* http://sorgalla.com/lity/
* Copyright (c) 2015-2016 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.5);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.lity.lity-opened {
  opacity: 1;
}

.lity.lity-closed {
  opacity: 0;
}

.lity * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}

.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
  opacity: 1;
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}

.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}

.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 15px;
  top: 15px;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: transparent;
  font-size: 0;
  line-height: 35px;
  border: 0;
  background: none;
  outline: none;
}

.lity-close:after {
  content: '\6e';
  color: #fff;
  font-size: 2rem;
  font-family: 'icon-font';
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  background: #000;
}

.lity-hide {
  display: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  .transform(translate3d(0, 0, 0));
}

.slick-track,
.slick-list {
  -webkit-perspective: 2000;
  -webkit-backface-visibility: hidden;
}

.slider-contain {
  margin: 0 auto !important;
  padding: 0 !important;
  max-width: 1000px !important;
  .border-radius(0.5em);
  overflow: hidden;
}

.slick-slide {
  position: relative;
  height: 250px!important;
  background-size: cover;
  background-position: center;
}

.slick-prev,
.slick-next,
.slick-dots {
  position: absolute;
}

.slick-prev,
.slick-next,
.slick-dots,
.slick-dots > li > button {
  padding: 0;
  border: none;
  color: transparent;
  font-size: 0;
}

.slick-prev,
.slick-next {
  display: none;
}

.slick-dots {
  list-style: none;
  margin: 0;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}

.slick-dots > li {
  display: inline-block;
}

.slick-dots > li > button {
  height: 3px;
  width: 32px;
  border-radius: 2px;
  background: #fff;
  margin-right: 2rem;
  opacity: 0.5;
}

.slick-dots > li:not(:last-child) > button {
  margin-right: 1rem;
}

.slick-active > button {
  opacity: 1!important;
}

.slick-slide {
  display: none;
  background-size: cover !important;
}

.slick-slide:first-child {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide > .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(~'translate(-50%, -50%)');
  width: 80%;
  text-align: center;
}

.slick-prev,
.slick-next,
.slick-slide > .slide-content > h1 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.slick-slide > .slide-content > h1 {
  margin: 0 0 0.4em;
  color: #fff;
  font-size: 5em;
  line-height: 0.9em;
  text-transform: lowercase;
}

.slick-slide > .slide-content > .pure-button,
.hero-box > .pure-button:not(:hover) {
  padding: 0.313em 0.875em 0.5em;
  color: #fff;
  border-color: #fff;
  .box-shadow(~'inset 0px 0px 1px 0px rgba(0,0,0,0.25)');
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

}

.slick-slide > .slide-content > .pure-button:hover,
.hero-box > .pure-button:hover {
  background: #fff;
  color: #444;
  .box-shadow(none);
}

.slick-slide > .slide-content > .pure-button {
  margin-right: 0.5em;
}





.masonry,
.masonry li { /* apply before masonry add class */
    position: absolute; /* important to add it before enter animation start */

    -webkit-transition-duration: .7s;
    transition-duration: .7s;

    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
