@charset "UTF-8";

/* untitled-font-2 */
@font-face {
  font-family: "icon-font";
  src:url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1474370638.eot");
  src:url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1474370638.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1474370638.woff") format("woff"),
    url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1474370638.ttf") format("truetype"),
    url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1474370638.svg#1474370638") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before,
.icon:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  margin-bottom: 0.25em;
}

.icon:before {
  padding: 0.286em;
  border-radius: 50%;
  font-size: 0.875em;
}

.icon[class^="brand-"],
.icon[class*=" brand-"] {
  display: none;
}

.icon-location:before {
  content: "\68";
}
.icon-paper-plane:before {
  content: "\69";
}
.icon-phone:before {
  content: "\6a";
}
.icon-dot-3:before {
  content: "\6c";
}
.icon-cancel:before {
  content: "\6e";
}
.icon-down-open:before {
  content: "\6d";
}
.icon-left-open:before {
  content: "\67";
}
.icon-right-open:before {
  content: "\6b";
}
.icon-up-open:before {
  content: "\66";
}
.icon-play-circle:before {
  content: "\71";
}
.icon-search:before {
  content: "\72";
}
.icon-vimeo:before {
  content: "\73";
}
.icon-twitter:before {
  content: "\74";
}
.icon-skype:before {
  content: "\75";
}
.icon-linkedin:before {
  content: "\76";
}
.icon-pinterest:before {
  content: "\77";
}
.icon-facebook:before {
  content: "\78";
}
.icon-play:before {
  content: "\79";
}
.icon-tumblr:before {
  content: "\61";
}
.icon-plus:before {
  content: "\62";
}
.icon-tint:before,
.icon.category-animation:before {
  content: "\63";
}
.icon-child:before,
.icon.category-ben:before {
  content: "\64";
}
.icon-beer:before,
.icon.category-event:before {
  content: "\6f";
}
.icon-rocket:before,
.icon.category-crowdfunding:before {
  content: "\70";
}
.icon-info:before,
.icon.category-explainer:before {
  content: "\65";
}
.icon-black-tie:before,
.icon.category-fashion:before {
  content: "\7a";
}
.icon-qq:before,
.icon.category-funny:before {
  content: "\41";
}
.icon-heart:before,
.icon.category-health:before {
  content: "\42";
}
.icon-exclamation:before,
.icon.category-inspirational:before {
  content: "\43";
}
.icon-star:before,
.icon.category-promo:before {
  content: "\44";
}
.icon-magic:before,
.icon.category-whoop:before {
  content: "\45";
}

.icon.category-animation:before {
  background-color: @red;
}

.icon.category-ben:before {
  background-color: @purple;
}

.icon.category-crowdfunding:before {
  background-color: @grey-blue;
}

.icon.category-animation:before {
  background-color: @red;
}

.icon.category-event:before {
  background-color: @orange;
}

.icon.category-explainer:before {
  background-color: @blue;
}

.icon.category-fashion:before {
  background-color: @yellow;
}

.icon.category-funny:before {
  background-color: @green;
}

.icon.category-health:before {
  background-color: @dark-orange;
}

.icon.category-inspirational:before {
  background-color: @cyan;
}

.icon.category-promo:before {
  background-color: @dark-blue;
}

.icon.category-whoop:before {
  background-color: @pink;
}
