@charset "UTF-8";
/* icon-font */

@font-face {
  font-family: "icon-font";
  src:url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1473792592.eot");
  src:url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1473792592.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1473792592.woff") format("woff"),
    url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1473792592.ttf") format("truetype"),
    url("https://file.myfontastic.com/mxT6RVUeBkddoReonVueaS/fonts/1473792592.svg#1473792592") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-location:before {
    content: "\68";
}

.icon-paper-plane:before {
    content: "\69";
}

.icon-phone:before {
    content: "\6a";
}

.icon-dot-3:before {
    content: "\6c";
}

.icon-cancel:before {
    content: "\6e";
}

.icon-down-open:before {
    content: "\6d";
}

.icon-left-open:before {
    content: "\67";
}

.icon-right-open:before {
    content: "\6b";
}

.icon-up-open:before {
    content: "\66";
}

.icon-play-circle:before {
    content: "\71";
}

.icon-search:before {
    content: "\72";
}

.icon-vimeo:before {
    content: "\73";
}

.icon-twitter:before {
    content: "\74";
}

.icon-skype:before {
    content: "\75";
}

.icon-linkedin:before {
    content: "\76";
}

.icon-pinterest:before {
    content: "\77";
}

.icon-facebook:before {
    content: "\78";
}

.icon-play:before {
    content: "\79";
}

.icon-tumblr:before {
  content: "\61";
}

.icon-plus:before {
  content: "\62";
}
