@import "vars";
@import "mixins";
@import "brands";
@import "home";
@import "blog";
@import "projects";
@import "wp";
@import "fonts";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding-top: 1.5em;
  font-family: @font-main;
  font-weight: @font-weight-normal;
  color: @colour-text-content;
}

nav {
  position: relative;
  height: auto!important;
  @media (max-width: 35.5em) {
    border-bottom: 1px solid @colour-border-light-bg;
    overflow-x: scroll;
  }
}

.header {
  max-width: 1400px;
  margin: auto;
}

.header ul {
  padding: 0 0.75em;
}

.header .header-info > li > a,
.header .header-social > li > a,
.pure-menu-item > a.pure-menu-link {
  font-weight: @font-weight-bold;
  color: @colour-text-deemphasize;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

.header .header-info > li > a:hover,
.header .header-social > li > a:hover {
  color: @colour-a-hover;
}

.header-img {
  text-align:center;
}

.header-img .logo-tv,
.header-img h1 {
  display: inline-block!important;
}

.header-img h1 {
  margin: 0;
  color: @colour-text-content!important;
  text-transform: lowercase;
  font-size: 4em;
  vertical-align: baseline;
}

.logo-tv {
  height: 225px;
  width: 150px;
  background: url('https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/logo-still.jpg') no-repeat 10px -5px;
  background-size: cover;
  vertical-align: bottom;
  @media (max-width: 35.5em) {
    background-position: center -5px;
  }
}

.header .strapline {
  margin: 1em auto 2em;
  padding: 0 1em;
  text-align: center;
  text-transform: uppercase;
}

.strapline h4 {
  display: inline-block;
  max-width: 440px;
}

.header-link:hover .logo-tv {
  background: url('https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/logo-loop.gif') no-repeat 10px -5px;
}

.header-social {
    float: right;
}

.header-social > li {
  list-style: none;
  display: inline-block;
  padding: 0 0.25em;
  font-size: 1.6em;
}

.header-social > li .icon-play-circle {
  font-size: 1.1em;
}

.header-social span {
  vertical-align: middle;
}

.icon-vimeo-circled:hover {
  color: #1ab7ea;
}

.icon-play-circle:hover {
  color: #cd201f;
}

.icon-twitter-circled:hover {
  color: #1da1f2;
}

.icon-facebook-circled:hover {
  color: #3b5998;
}

.icon-linkedin-circled:hover {
  color: #0077b5;
}

.menu-view {
  background: @colour-main-view-bg;
}

.menu-view.sticky {
  z-index: 999!important;
  .box-shadow(~'0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)');
}

.menu-view > .menu-contain {
  position: relative;
  margin: auto;
  max-width: 1400px;
  text-align: center;
}

.menu-view .pure-dropdown {
  position: absolute;
}

.menu-view .pure-dropdown-left,
.menu-view .pure-dropdown-right {
  top: 50%;
  .transform(~'translatey(-50%)');
  text-align: left;
}

.menu-view .pure-dropdown-left {
  left: 1em;
}

.menu-view .pure-dropdown-right {
  right: 1em;
}

.pure-menu {
  display: inline-block;
  max-width: 1400px;
  width: auto;
  margin: auto;
}

.pure-menu-horizontal .pure-menu-list {
  display: block;
}

.pure-menu-list {
  padding: 0.5em 0 0.6em;
  text-align: center;
}

.pure-menu-item {
  .transition(~'all 0.5s');
}

.pure-menu-item.menu-logo {
  display: inline-block;
  width: 0;
  height: 40px;
  background: none;
  background-size: 100%;
  opacity: 0;
  .transition(~'all 0.3s ease-out');
}

nav.sticky .pure-menu-item.menu-logo {
  width: 120px;
  background: url('https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/menu-logo-animated.gif') no-repeat left center;
  background-size: cover;
  opacity: 1;
}

.pure-menu-item > a.pure-menu-link {
  margin: 0 0.5em;
  padding: 0.25em 0.875em;
  font-weight: @font-weight-extra-bold;
  letter-spacing: 0.15em;
  border: 1px solid;
  border-color: transparent;
  .border-radius(0.313em);
  .transition(~'all 0.5s');
}

.pure-menu-item > a.pure-menu-link.selected,
.pure-menu-item > a.pure-menu-link:hover,
.pure-menu-item > a.pure-menu-link:focus {
  background: transparent!important;
  color:  @colour-a-link;
  border-color: @colour-a-link;
}

.bulletin {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  .linear-gradient(45deg, @colour-a-link, @colour-a-hover);
  color: #fff;
  .border-radius(0.188em);
  padding: 0.5em;
  .box-shadow(@box-shadow);
}

.bulletin .pure-button {
  margin: 0 1em;
}

body.process .main-view,
body.contact .main-view,
body.project .main-view,
body.post .main-view {
  margin: auto;
  max-width: 800px;
}

body.clients .main-view,
body.projects .main-view {
  margin: auto;
  max-width: 1000px;
}

.main-view {
  background: @colour-main-view-bg;
}

.page-content {
  margin: auto;
  max-width: 1400px;
  position: relative;

  @media (max-width: 1400px) {
    padding: 0 1em;
  }
}

.footer h2 {
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
}

.footer > .pure-g {
  max-width: 1400px;
  margin: auto;
}

.footer > hr {
  position: relative;
  margin: 4em auto 4em;
  max-width: 40%;
  border: none;
}

.footer > hr:before,
.footer > hr:after {
  position: absolute;
  content: '';
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.footer > hr:before {
  max-width: 1400px;
  .linear-gradient-multi(@gradient-rainbow);
}

.footer > .footer-about > .about {
  margin: 0 1em 2em;
  padding: 1em 2em;
  max-width: 800px;
  .border-radius(0.5em);
  @media (min-width: 800px) {
    margin: 0 auto 2em;
    padding: 1em 2em;
  }
}

.footer > .footer-about > .about ol {
  margin: 0;
  padding: 0;
}

.footer > .footer-social {
  margin: 3em auto 1em;
  text-align: center;
}

.footer > .footer-social ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer > .footer-social .pure-button {
  display: inline-block;
  margin: 0 0.75em;
  padding: 0.313em 0.5em;
  font-size: 0.875;
  height: 1.875em;
  width: 1.875em;
  border-radius: 50%;
}

.footer > .footer-social .pure-button a {
  line-height: 1.25em;
  margin-left: -0.313em;
  vertical-align: middle;
  color: @colour-text-deemphasize;
}

.footer-mondo {
  padding: 1.5em 0 3em;
  text-align: center;
}

.footer-mondo p {
  margin: 0;
}

.footer-terms {
  padding: 0;
  font-size: 0.75em;
  list-style: none;
}

.footer-terms > li {
  display: inline-block;
  padding: 0 0.25em;
}

.footer-terms .pure-button {
  padding: 0.2em 0.313em 0.25em;
  color: @colour-text-deemphasize;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-weight: @font-weight-bold
}

h1, h2, h3 {
  font-family: @font-brand;
}

h4, h5, h6, p, ul, ol, li {
  font-family: @font-heading;
}

h1 {
  @media (min-width: 48em) {
    font-size: 2.8em;
  }
}

h2 {
  @media (min-width: 48em) {
    font-size: 1.8em;
  }
}

h3 {
  @media (min-width: 48em) {
    font-size: 1.4em;
  }
}

img {
  height: auto;
}

hr {
  margin-bottom: 2em;
  height: 1px;
  width: 100%;
  background: @colour-border-light-bg;
  border: none;
}

code {
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  background-color: #f0f0f0;
}


p, li {
  line-height: 1.5em;
}

blockquote {
  border-left: 3px solid #ddd;
  padding-left: 10px;
}

button {
  outline-color: transparent;
}

.pure-dropdown {
  position: relative;
  padding-bottom: 0.25em;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 1.25em;
  margin: none;
  width: 250px;
  list-style: none;
  padding: 0.313em 0.875em;
  background: #fff;
  border: 1px solid @colour-text-deemphasize;
  opacity: 0;
  .border-radius(0.313em);
  .transition(~'all 0.2s');
}

.pure-dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  opacity: 1;
}

.pure-dropdown-left .dropdown-menu {
  left: 0;
}

.pure-dropdown-right .dropdown-menu {
  right: 0;
}

.pure-button {
  padding: 0.313em 0.875em;
  background: transparent;
  color: @colour-text-deemphasize!important;
  border: 1px solid;
  border-color: @colour-text-deemphasize;
  .border-radius(0.313em);
}

.pure-button.pure-button-primary {
  color: #fff!important;
  background: @colour-a-link;
  border-color: @colour-a-link;
}

.pure-button:hover,
.pure-button:active,
.pure-button:focus {
  background: transparent;
  color: @colour-a-link!important;
  border-color: @colour-a-link!important;
}

.wpcf7-form {
  margin:3em auto 1em;
  padding: 2em 1em;
  max-width: 575px;
}

.wpcf7-form fieldset {
  min-width: 0;
}

.wpcf7-form input {
  font-size: 1rem;
  max-width: 100%;
}

.wpcf7-form .pure-control-group label {
  width: 9em;
}

.wpcf7-form .pure-controls {
    margin-left: 10em;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: @colour-a-link;
}
a:hover {
  color: @colour-a-hover;
}

input[type=radio] {
	visibility: hidden;
  height: 0;
  width: 0;
}

.page-header {
  min-height: 50px;
}

.page-content {
  animation: fadeIn 0.6s;
}

p.lead {
  font-size: 24px;
}

.pure-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for="pure-file"] {
  width: auto!important;
  cursor: pointer;
}

.brand {
  color: @colour-a-link !important;
  border-color: @colour-a-link !important;
}

.hover-brand:hover,
.hover-brand.active {
  color: @colour-a-link !important;
  border-color: @colour-a-link !important;
}

.vimeo:hover,
.vimeo:hover > * {
  color: #1ab7ea!important;
  border-color: #1ab7ea!important;
}

.youtube:hover,
.youtube:hover > * {
  color: #cd201f!important;
  border-color: #cd201f!important;
}

.twitter:hover,
.twitter:hover > * {
  color: #1da1f2!important;
  border-color: #1da1f2!important;
}

.facebook:hover,
.facebook:hover > * {
  color: #3b5998!important;
  border-color: #3b5998!important;
}

.linkedin:hover,
.linkedin:hover > * {
  color: #0077b5!important;
  border-color: #0077b5!important;
}

.ng-enter,
.ng-move {
  .transition(~'all 0.5s linear;');
  opacity: 0;
}

.ng-enter.ng-enter-active,
.ng-move.ng-move-active {
  opacity: 1;
}

.ng-leave {
  opacity: 1;
  .animation(~'fadeOut 0.5s');
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
