@import "vars";
@import "mixins";
@import "home";
@import "blog";
@import "wp";
@import "fonts";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: @font-main;
  font-weight: @font-weight-normal;
  color: @colour-text-content;
}

.header {
  max-width: 1600px;
  margin: auto;
}

.header ul {
  padding: 0 0.75em;
}

.header .header-info > li > a,
.header .header-social > li > a,
.pure-menu-item > a.pure-menu-link {
  font-weight: @font-weight-bold;
  color: @colour-text-deemphasize;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

.header .header-info > li > a:hover,
.header .header-social > li > a:hover {
  color: @colour-a-hover;
}

.header a {
  letter-spacing: 0.15em;
}

.header-info > li {
  list-style: none;
  font-size: 0.8em
}

.header-img {
  text-align:center;
}

.header-img > img {
  display: inline-block;
  padding: 1em 0 0.75em;
}

.header-social {
    float: right;
}

.header-social > li {
  list-style: none;
  display: inline-block;
  padding: 0 0.25em;
  font-size: 1.6em;
}

.header-social > li .icon-play-circle {
  font-size: 1.1em;
}

.header-social span {
  vertical-align: middle;
}

.icon-vimeo-circled:hover {
  color: #1ab7ea;
}

.icon-play-circle:hover {
  color: #cd201f;
}

.icon-twitter-circled:hover {
  color: #1da1f2;
}

.icon-facebook-circled:hover {
  color: #3b5998;
}

.icon-linkedin-circled:hover {
  color: #0077b5;
}

.menu-view {
  background: #fff;
  transform: translateX(-100vw);
  transition: transform 0.3s;
  position: fixed;
  z-index: 2;

  @media (min-width: 35.5em) {
    padding: 0.5em 0;
    transform: none;
    position: inherit;
    font-size: 1em;
  }

  .menu {
    font-size: 2em;
    ul {
      list-style-type: none;
      padding-left: 60px;
    }
    a {
      transition: all 0.3s;
      color: #ccc;
      &:focus {
        outline: none;
      }
      &.selected {
        color: white;
      }
    }
  }

  .pure-menu {
    max-width: 1600px;
    margin: auto;
  }

  .pure-menu-horizontal .pure-menu-list {
    display: block;
  }

  .pure-menu-list {
    text-align: center;
  }

  .pure-menu-item > a.pure-menu-link {
    letter-spacing: 0.15em;
  }

  .pure-menu-active > a.pure-menu-link,
  a.pure-menu-link:hover,
  a.pure-menu-link:focus {
      color: @colour-a-link;
      background-color: transparent;
  }
}

.main-view {
  background: @colour-main-view-bg;
}

.page-content {
  margin: auto;
  max-width: 1600px;
  position: relative;
}

.footer {
  background: @colour-text-dark;
  color: #fff;
}

.footer > .pure-g {
  max-width: 1600px;
  margin: auto;
}

.footer > .pure-g > .pure-u-1-4 {
  margin: 2em 0;
  padding: 0 1.5em;
}

.footer > .footer-info > hr {
  position: relative;
  margin: 0;
  width: 100%;
  background: @colour-text-dark;
  border: none;
}

.footer > .footer-info > hr:before, hr:after {
  position: absolute;
  content: '';
  height: 3px;
  top: 0;
  left: 0;
  right: 0;
}

.footer > .footer-info > hr:before {
  max-width: 1600px;
  .linear-gradient-multi(@gradient-rainbow);
}

.footer > .footer-info > .pure-u-1-4:not(:nth-child(5)) {
  border-right: 1px solid @colour-border-dark-bg
}

.footer > .footer-social {
  border: solid @colour-border-dark-bg;
  border-width: 1px 0;
}

.footer h4 {
  position: relative;
  margin: 0 0 1.5em;
  font-size: 1.25em;
}

.footer h4:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 30px;
  background: @colour-a-link;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-weight: @font-weight-bold
}

h1, h2, h3 {
  font-family: @font-brand;
}

h4, h5, h6 {
  font-family: @font-heading;
}

h1 {
  @media (min-width: 48em) {
    font-size: 3em;
  }
}

h2 {
  @media (min-width: 48em) {
    font-size: 2em;
  }
}

h3 {
  @media (min-width: 48em) {
    font-size: 1.6em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin-bottom: 2em;
  height: 1px;
  width: 100%;
  background: @colour-border-light-bg;
  border: none;
}

code {
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  background-color: #f0f0f0;
}


p, li {
  line-height: 1.5em;
}

blockquote {
  border-left: 3px solid #ddd;
  padding-left: 10px;
}

button {
  outline-color: transparent;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: @colour-a-link;
}
a:hover {
  color: @colour-a-hover;
}

.page-header {
  min-height: 50px;
}

.page-content {
  animation: fadeIn 0.6s;
}

p.lead {
  font-size: 24px;
}

.pure-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for="pure-file"] {
  width: auto!important;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
