<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en" ng-app="app" ng-class="{ 'force-scrollbar' : !isHomePage }"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en" ng-app="app" ng-class="{ 'force-scrollbar' : !isHomePage }"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en" ng-app="app" ng-class="{ 'force-scrollbar' : !isHomePage }"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="app"> <!--<![endif]-->
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="%%BASE_PATH%%">

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/apple-touch-icon.png?v=lkg23BpBQO">
    <link rel="icon" type="image/png" href="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/favicon-32x32.png?v=lkg23BpBQO" sizes="32x32">
    <link rel="icon" type="image/png" href="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/favicon-16x16.png?v=lkg23BpBQO" sizes="16x16">
    <link rel="manifest" href="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/manifest.json?v=lkg23BpBQO">
    <link rel="mask-icon" href="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/safari-pinned-tab.svg?v=lkg23BpBQO" color="#59b7d3">
    <link rel="shortcut icon" href="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/favicon.ico?v=lkg23BpBQO">
    <meta name="apple-mobile-web-app-title" content="MondoTV">
    <meta name="application-name" content="MondoTV">
    <meta name="msapplication-config" content="http://assets.mondotv.co.s3-website-us-west-2.amazonaws.com/favicons/browserconfig.xml?v=lkg23BpBQO">
    <meta name="theme-color" content="#59b7d3">

    <!-- metadata -->
    <title ng-bind="meta.title">%%DEFAULT_TITLE%%</title>
    <meta name="description" content="%%DEFAULT_DESCRIPTION%%" ng-if="false">
    <meta name="description" content="{{ meta.description | stripHtmlTags }}">
    <meta name="author" content="MondoTV">
    <!-- Twitter summary card metadata. One day this might be crawled... -->
    <meta property="twitter:card" content="photo" />
    <meta property="twitter:site" content="@mondotvuk" />
    <meta property="twitter:title" content="{{ meta.title }}" />
    <meta property="twitter:description" content="{{ meta.description | stripHtmlTags }}" />
    <meta property="twitter:image" content="{{ meta.image }}" />
    <meta property="twitter:url" content="{{ meta.url }}" />
    <!-- open graph metadata. One day this might be crawled... -->
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:site_name " content="MondoTV" />
    <meta property="og:url " content="{{ meta.url }}" />
    <meta property="og:description" content="{{ meta.description | stripHtmlTags }}" />
    <meta property="og:image" content="{{ meta.image }}" />

    <!-- inject:css -->
    <!-- endinject -->

    <!-- Loading styles -->
    <style>
      .main-loading-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 99999;
      }

      .main-loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 80px;
        width: auto;
      }
    </style>

  </head>
  <body ng-controller="AppController as vm" class="{{ vm.activeSection }}">

    <nav class="menu-view" sticky sticky-class="sticky">
      <section class="menu-contain">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item menu-logo"><a href="/"></a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" ng-class="{ selected: vm.activeSection === 'process'}" href="process">How It Works</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" ng-class="{ selected: vm.activeSection === 'projects'}" href="projects" >Projects</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" ng-class="{ selected: vm.activeSection === 'clients'}" href="clients" >Clients</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" ng-class="{ selected: vm.activeSection === 'blog' || vm.activeSection === 'post' || vm.activeSection === 'postsByTag' || vm.activeSection === 'postsBySearch'}" ui-sref="blog">Blog</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" ng-class="{ selected: vm.activeSection === 'contact'}" href="contact">Contact</a></li>
          </ul>
        </div>
      </section>
    </nav>

    <section class="header pure-g">
      <div class="pure-u-1 header-img">
        <a ui-sref="home">
          <img src="https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/mondotv-logo-web.jpg" alt="MondoTV"/>
        </a>
        <h4 class="strapline">We make web based branded video content. Tech focused, Doctor approved. Check it out.</h4>
      </div>
    </section>

    <main class="main-view">
      <div class="pure-g page-content ng-cloak">
        <div class="pure-u-1" ng-if="vm.bulletins.length">
          <div class="bulletin" ng-repeat="bulletin in vm.bulletins">
            <h1>{{ ::bulletin.title }}</h1>
            <a ui-sref="post({ id: bulletin.ID, title: bulletin.slug })" class="pure-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="content ng-cloak">
        <div ui-view="main">
          <div class="main-loading-container" ng-if="false">
            <img class="main-loading-icon" src="https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/loading.gif" alt="MondoTV.co is loading..." />
          </div>
        </div>
      </div>
    </main>

    <footer class="footer ng-cloak">
      <hr />
      <section class="footer-about">
        <div class="about">
          <h2>{{ ::vm.about[0].title.rendered }}</h2>
          <div class="pure-g" ng-bind-html="vm.about[0].content"></div>
        </div>
      </section>
      <section class="pure-g footer-social">
        <ul>
          <li class="pure-button"><span class="icon-vimeo"></span></li>
          <li class="pure-button"><span class="icon-play"></span></li>
          <li class="pure-button"><span class="icon-twitter"></span></li>
          <li class="pure-button"><span class="icon-facebook"></span></li>
          <li class="pure-button"><span class="icon-linkedin"></span></li>
        </ul>
      </section>
      <section class="footer-mondo">
        <p>MondoTV</p>
        <p>20-22 Wenlock Road, London,</p>
        <p>England, N1 7GU</p>
        <ul class="footer-terms">
          <li>&copy; MondoTV Ltd. 2016.</li>
          <li>|</li>
          <li>Terms:</li>
          <li><a href="/terms/conditions" class="pure-button">Conditions</a></li>
          <li><a href="/terms/service" class="pure-button">Service</a></li>
        </ul>
      </section>
    </footer>

    <!-- inject:js -->
    <!-- endinject -->

    <script>
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

  </body>
</html>
