<section>
    <ul class="featured-articles">
        <li ng-repeat="post in vm.allFeatured">
            <img ng-src="{{ post.featured_image.attachment_meta.sizes.large.url }}" alt="post.title" />
            <h1>{{ post.title }}</h1>
            <a class="pure-button pure-button-primary" ui-sref="post({ id: post.ID, title: post.slug })">Read More</a>
            <a class="pure-button pure-button-primary">Get In Touch</a>
        </li>
    </ul>
</section>

<section class="pure-g page-content" ng-controller="HomeController as vm">
    <div class="pure-u-1 pure-u-md-1-2">
        <h2>Videos</h2>
        <ul>
            <li ng-repeat="video in vm.allVideos">
                <a ui-sref="post({ id: video.ID, title: video.slug })">{{ video.title }}</a>
            </li>
        </ul>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <h2>Technologies</h2>
        <ul>
        </ul>
    </div>
    <div class="pure-u-1">
        <div class="hero-box">
            <h1>Angular Wordpress Seed</h1>
            <p>
                A bare-bones <a href="https://angularjs.org/">AngularJS</a> blog app designed to work with the Wordpress <a href="http://wp-api.org/">JSON REST API</a>.
            </p>
        </div>
    </div>
</section>
