<section class="slider-contain">
    <slick class="featured-articles" infinite="true" autoplay="true" dots="true" arrows="true" data="vm.allFeatured" ng-if="vm.allFeatured.length">
        <div ng-repeat="post in vm.allFeatured" style="background-image:url({{ post.featured_image.attachment_meta.sizes.large.url }})">
            <div class="slide-content">
                <h1>{{ post.title }}</h1>
                <a class="pure-button pure-button-primary" ui-sref="post({ id: post.ID, title: post.slug })">Read More</a>
                <a class="pure-button pure-button-primary">Get In Touch</a>
            </div>
        </div>
    </slick>
</section>

<section class="pure-g page-content" ng-controller="HomeController as vm">
    <div class="pure-u-1">
        <ul class="pure-g video-list">
            <li ng-repeat="video in vm.allVideos" class="pure-u-1-4 video-item">
                <a ui-sref="post({ id: video.ID, title: video.slug })">
                    <img ng-src="{{ video.featured_image.attachment_meta.sizes.medium.url }}" alt="{{ video.title }}" />
                    <p>
                      {{ video.tag }}
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="pure-u-1" ng-if="vm.bulletins.length">
        <hr />
        <div class="hero-box" ng-repeat="bulletin  in vm.bulletins">
            <h1>{{ bulletin.title }}</h1>
            <a class="pure-button">Read More</a>
        </div>
    </div>
</section>
