<!-- Main Content -->
<section class="pure-g page-content" ng-controller="HomeController as vm">
  <!-- Filter List -->
  <div class="pure-u-1 filter-list ng-cloak" ng-init="filters.categories=''">
    <label>
      <input type="radio" ng-model="filters.categories" ng-model-options="{ debounce: 500 }" value="" />
      <span class="pure-button hover-brand">All</span>
    </label>
    <label ng-repeat="tag in vm.categories">
      <input type="radio" ng-model="filters.categories" ng-model-options="{ debounce: 500 }" value="{{ ::tag.slug }}" />
      <span class="pure-button {{ ::tag.colour }}">{{ ::tag.name }}</span>
    </label>
  </div>
  <div class="pure-u-1">
    <ul id="isotopeContainer" class="video-list" ng-cloak="" isotope-container="">
      <li class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 pure-u-xl-1-5 video-item" isotope-item="" ng-repeat="video in vm.allVideos track by video.$id">
        <a href="https://{{ ::video.videoUrl }}" data-lity>
          <img class="pure-img" ng-src="{{ ::video.featured_media.sizes.medium.source_url }}" alt="{{ ::video.title.rendered }}" />
        </a>
        <h3>{{ ::video.title.rendered }}</h3>
        <ul>
          <li ng-repeat="tag in video.tags"><span class="{{ tag }}"></span></li>
        </ul>
      </li>
    </ul>
    <!--
    <div class="pure-g video-list ng-cloak">
      <div ng-repeat="video in vm.allVideos | filter:filters.categories" class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 pure-u-xl-1-5 video-item" ng-class="video.tags">
        <a href="https://{{ ::video.videoUrl }}" data-lity>
          <img class="pure-img ng-cloak" ng-src="{{ ::video.featured_media.sizes.medium.source_url }}" alt="{{ ::video.title.rendered }}" />
        </a>
      </div>
    </div> -->
  </div>
  <div class="pure-u-1 button-section">
    <img class="loading-icon" src="https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/loading.gif" alt="Content loading" ng-if="vm.loading" /><br />
    <a ng-click="vm.fetchMoreVideos()" class="pure-button pure-button-primary" ng-if="vm.moreVideos">More Videos <span class="icon-plus"></span></a>
  </div>
</section>

<!-- Slider -->
<section class="slider-contain page-content">
  <slick class="featured-articles" init-onload=true infinite=true autoplay=true dots=true arrows=true data="vm.allFeatured" ng-if="vm.allFeatured.length">
    <div ng-repeat="post in vm.allFeatured" style="background:#333 url({{ post.featured_media.sizes.full.source_url }}) no-repeat center center">
      <div class="slide-content">
        <h1>{{ ::post.title.rendered }}</h1>
        <a class="pure-button" ui-sref="post({ id: post.ID, title: post.slug })">Read More</a>
        <a class="pure-button">Get In Touch</a>
      </div>
    </div>
  </slick>
</section>
