<!-- Main Content -->
<section class="pure-g page-content" ng-controller="HomeController as vm">
  <!-- Filter List -->
  <div class="pure-u-1 filter-list ng-cloak" opt-kind="" ok-key="filter">
    <button class="pure-button hover-brand active" ok-sel="*" ng-click="vm.restoreVideoCount()">All</button>
    <button ng-repeat="tag in vm.categories" class="pure-button filter-button {{ ::tag.slug }}" ok-sel=".{{ ::tag.slug }}" ng-click="vm.allVideoCount()">{{ ::tag.name }}</button>
  </div>
  <div class="pure-u-1">
    <ul id="isotopeContainer" class="video-list" isotope-container ng-cloak>
      <li class="video-item" ng-repeat="video in vm.allVideos | limitTo:vm.videoCount" ng-class="video.tags" isotope-item ng-cloak>
        <a href="{{ ::video.videoUrl }}" data-lity>
          <figure>
            <img class="pure-img" ng-src="{{ ::video.featured_media.sizes.medium.source_url }}" alt="{{ ::video.title.rendered }}" />
            <figcaption class="video-caption">
              <h3>{{ ::video.title.rendered }}</h3>
            </figcaption>
            <ul class="type-list">
              <li class="type-item" ng-repeat="tag in video.tags"><div class="icon {{ ::tag }}"></div></li>
            </ul>
          </figure>
          <span class="brand-logo"></span>
        </a>
      </li>
    </ul>
  </div>
  <img class="loading-icon" src="https://s3-us-west-2.amazonaws.com/assets.mondotv.co/logos/loading.gif" alt="Content loading" ng-if="vm.loading" />
  <div class="pure-u-1 button-section">
    <a ng-click="vm.fetchMoreVideos()" class="pure-button pure-button-primary" ng-if="vm.moreVideos">More Videos</span></a>
  </div>
</section>

<!-- Slider -->
<!--
<section class="slider-contain page-content">
  <slick class="testimonials" init-onload=true infinite=true autoplay=true dots=true arrows=true data="vm.allTestimonials" ng-if="vm.allTestimonials.length">
    <div ng-repeat="post in vm.allTestimonials" style="background:#333;">
      <div class="slide-content">
        <h1>{{ ::post.title.rendered }}</h1>
      </div>
    </div>
  </slick>
</section>
-->
